<div class="block block-search">
    <div class="block block-title"><strong><!-- ko i18n: 'Search' --><!-- /ko --></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" method="get" data-bind="attr: { action: getSearchUrl() }, css: { active: isActive }">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label" data-bind="click: toggleSearch, css: { active: isActive }">
                    <span><!-- ko i18n: 'Search' --><!-- /ko --></span>
                </label>
                <div class="control">
                    <input
                        id="search"
                        name="q"
                        type="text"
                        class="input-text"
                        autocomplete="off"
                        role="combobox"
                        aria-haspopup="false"
                        aria-autocomplete="both"
                        aria-expanded="false"
                        data-bind="
                            value: searchTerm,
                            valueUpdate: 'afterkeydown',
                            attr: { placeholder: $t('Search entire store here...') }
                        "
                    />
                    <ul id="search_autocomplete" class="autocomplete-results" data-bind="css: { active: hasResults }, visible: hasResults" role="listbox">
                        <!-- ko foreach: getRegion('autocomplete-result') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
            <div class="actions">
                <button type="submit" title="Search" class="action search" aria-label="Search">
                    <span><!-- ko i18n: 'Search' --><!-- /ko --></span>
                </button>
            </div>
        </form>
    </div>
</div>
