<!-- ko if: !isLoading() && totalHits() === 0 -->
<div class="message info empty">
    <div><!-- ko i18n: 'We can\'t find products matching the selection.' --><!-- /ko --></div>
</div>
<!-- /ko -->
<!-- ko if: totalHits() > 0 -->
<div class="toolbar toolbar-products">
    <!-- ko foreach: getRegion('viewmode') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <!-- ko foreach: getRegion('counter') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <!-- ko foreach: getRegion('sorter') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<div id="meilisearch-hits" class="products wrapper" data-bind="css: {
    'grid products-grid': currentViewMode() === 'grid',
    'list products-list': currentViewMode() === 'list'
}">
    <ol class="products list items product-items" data-bind="foreach: { data: searchResults().hits, afterRender: afterRenderHit }">
        <li class="item product product-item">
            <div class="product-item-info">
                <a data-bind="attr: { href: $parent.productModel.getProductUrl(url_key) }" class="product photo product-item-photo">
                    <span class="product-image-container" style="width: 240px;">
                        <span class="product-image-wrapper" style="padding-bottom: 125%;">
                            <img class="product-image-photo"
                                 data-bind="attr: {
                                    src: $parent.productModel.getProductImageByContext($data),
                                    alt: name,
                                    width: $parent.productModel.getImageConfig().width,
                                    height: $parent.productModel.getImageConfig().height
                                 }"
                                 loading="lazy" />
                        </span>
                    </span>
                </a>
                <div class="product details product-item-details">
                    <strong class="product name product-item-name">
                        <a data-bind="attr: { href: $parent.productModel.getProductUrl(url_key) }, text: name" class="product-item-link"></a>
                    </strong>

                    <!-- ko foreach: $parent.fragments -->
                    <div data-bind="attr: {'data-fragment': $data, 'data-sku': $parent.sku}"></div>
                    <!-- /ko -->
                </div>
            </div>
        </li>
    </ol>
</div>
<div class="toolbar toolbar-products">
    <!-- ko foreach: getRegion('toolbar') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
