<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Walkwizus\MeilisearchFrontend\Model\FragmentAggregator">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="prices" xsi:type="object">Walkwizus\MeilisearchFrontend\Model\FragmentRenderer\PriceFragmentRenderer</item>
                <item name="swatches" xsi:type="object">Walkwizus\MeilisearchFrontend\Model\FragmentRenderer\SwatchFragmentRenderer</item>
            </argument>
        </arguments>
    </type>
    <type name="Walkwizus\MeilisearchFrontend\Observer\AddMeilisearchHandle">
        <arguments>
            <argument name="handles" xsi:type="array">
                <item name="meilisearch_common" xsi:type="object">Walkwizus\MeilisearchFrontend\Model\LayoutHandle\AddMeilisearchCommonHandle</item>
                <item name="meilisearch_result" xsi:type="object">Walkwizus\MeilisearchFrontend\Model\LayoutHandle\AddMeilisearchResultHandle</item>
                <item name="remove_category_blocks" xsi:type="object">Walkwizus\MeilisearchFrontend\Model\LayoutHandle\AddRemoveCategoryBlocksHandle</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Data">
        <plugin name="meilisearch_virtual_category_breadcrumbs" type="Walkwizus\MeilisearchFrontend\Plugin\CatalogDataPlugin"/>
    </type>
</config>
